@inherits MerchKit.Mvc.MerchKitTemplatePage
@using Merchello.Web.Models.ContentEditing
@using MerchKit
@{
    Layout = "merchBase.cshtml";

}

@*Render All Products*@
@if (CurrentPage.Children.Any())
{
    <ul class="product-list">
        @*Only display the featured product if it has a thumbnail*@
        @foreach (IPublishedContent product in Model.Content.Children())
        {
            //A hack for the starter kit to get the kittens to show at different heights if there are no images
            var kittenHeight = NoWhammyStop.Next(200, 800);
            
            <li>
                <a href="@product.Url">
                    @*Render the product thumbnail*@
                    @if(product.WillWork("thumbnail"))
                    {
                        IPublishedContent image = Umbraco.Media(product.GetPropertyValue("thumbnail"));
                        @*Feed in view data to the partial view*@
                        var viewData = new ViewDataDictionary(ViewData)
                            {
                                {"Image", image},
                                {"Height", -1},
                                {"Width", 572}
                            };
    
                        @Html.Partial("merchRenderImage", viewData)
                    }
                    else
                    {
                        <img src="http://placekitten.com/572/@kittenHeight" />
                    }
                    <div class="info">
                        <div class="wrapper">
                            <h2>@product.Name</h2>
                            <p class="price details">
                                @*show price if product is connected in Merchello*@
                                @if(product.HasProperty("merchelloProduct") && product.HasValue("merchelloProduct")){                                                                       
                                    var merchProduct = Merchello.Product(product.GetPropertyValue<string>("merchelloProduct"));
                                    if (merchProduct != null)
                                    { 
                                    @*Show "from" if product has variants, otherwise just display the price*@
                                    @(merchProduct.ProductVariants.Any() ? MvcHtmlString.Create("<em>from</em> ") : MvcHtmlString.Empty) @GetFromPrice(merchProduct)
                                @*Show text for product details if not connected in Merchello*@
                                    }
                                } else {
                                    <em>view product info</em>
                                }
                            </p>
                        </div>
                    </div>
                </a>
            </li>
        }
    </ul>
}

<a href="#top" class="arrow up"><i class="fa fa-angle-up"></i></a>

@functions
{

    private string GetFromPrice(ProductDisplay product)
    {
        if (product == null) return string.Empty;
        if (product.ProductVariants.Any())
        {
            return product.ProductVariants.OrderBy(x => x.Price).First().Price.ToString("C");
        }
        return product.Price.ToString("C");
    }

}
