@inherits MerchKit.Mvc.MerchKitTemplatePage
@{
    Layout = "merchBase.cshtml";
}

@*Render the banner*@
<div id="banner">
    @if (CurrentPage.WillWork("banner"))
    {
        IPublishedContent image = Umbraco.Media(CurrentPage.GetPropertyValue("banner"));

        @*Feed in view data to the partial view*@
        var viewData = new ViewDataDictionary(ViewData)
            {
                {"Image", image},
                {"Height", -1},
                {"Width", 1900}
            };
    
        @Html.Partial("merchRenderImage", viewData)
    }
    else
    {
        <img src="http://placekitten.com/1900/450" />
    }
</div>

<section id="primary">
    @*Render the page headline*@
    <h1>@(CurrentPage.WillWork("headline") ? CurrentPage.GetPropertyValue("headline") : CurrentPage.Name)</h1>
    
    @*Render the brief, which goes above the testimonial*@
    @if (CurrentPage.WillWork("brief"))
    {
        <p>@MvcHtmlString.Create(CurrentPage.GetPropertyValue("brief"))</p>
    }

    @*Render the Testimonial*@
    @Html.Partial("merchTestimonial")

    @*Render the rest of the page content*@
    @CurrentPage.bodyText

</section>

<a href="#top" class="arrow up"><i class="fa fa-angle-up"></i></a>