@inherits MerchKit.Mvc.MerchKitTemplatePage
@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 ie"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7 ie"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 ie"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    @*Render the page title, meta keywords, and meta description*@
    @Html.Partial("merchPageTitleMeta")
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <!-- Mobile Stylesheet - Uncomment if Used in this Project -->
    <!--link rel="stylesheet" type="text/css" href="/css/mobile.css" /-->
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Standard iPhone --><link rel="apple-touch-icon" sizes="57x57" href="/touch-icon-iphone-114.png" />
    <!-- Retina iPhone --><link rel="apple-touch-icon" sizes="114x114" href="/touch-icon-iphone-114.png" />
    <!-- Standard iPad --><link rel="apple-touch-icon" sizes="72x72" href="/touch-icon-ipad-144.png" />
    <!-- Retina iPad --><link rel="apple-touch-icon" sizes="144x144" href="/touch-icon-ipad-144.png" />    
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
    
    @*Render the global theme styles selected in the admin*@
    @Html.Partial("merchGlobalStyles")
    <!--script src="/scripts/libs/modernizer-2.6.1.min.js"></script-->
</head>

@*Render the DocType name as a CSS class on the body and a custom CSS class that can be added in General Properties in the admin*@
<body@(Html.Raw(string.Format(" class=\"{0}\"", CurrentPage.HasValue("merchBodyCSS") ? string.Format("{0} {1}", CurrentPage.DocumentTypeAlias, CurrentPage.merchBodyCSS) : CurrentPage.DocumentTypeAlias))) id="top">
    <div id="container">
        <header role="banner">
            <div id="google_translate_element"></div>

            <a href="@CartPage.Url" class="return">@Umbraco.GetDictionaryValue("merchReturnToCartLink")</a>

            @*If there is a logo, display the logo*@
            @if(HomePage.HasProperty("logo") && HomePage.HasValue("logo"))
            {
                <h1><a href="/" class="logo"><img src="@HomePage.GetPropertyValue("logo")" alt="@Umbraco.Field("org", recursive: true)" /></a></h1>
            @*Otherwise, if there's a company name, display the name*@                
            } else if(HomePage.HasProperty("org") && HomePage.HasValue("org")) {
                <h1><a href="/">@HomePage.GetPropertyValue("org")</a></h1>
            @*Otherwise, please add a company name*@
            } else {
                <h1>Add a logo or company name</h1>
            }
		</header>				
		
        @*Primary content section*@
		<section id="content" class="oneColumn">
	        @RenderBody()
        </section>
      	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/libs/angular.min.js"></script>
        <script src="~/Scripts/ngMerchkitApp.js"></script>
	</div>
</body>