@inherits MerchKit.Mvc.MerchKitTemplatePage
@using Merchello.Web
@{
    Layout = "merchCheckoutBase.cshtml";

    if (CurrentCustomer.Basket().IsEmpty)
    {
        Response.Redirect(CartPage.Url);
    }
}

<section id="primary" data-ng-app="merchkitApp">
    <h1>@Umbraco.GetDictionaryValue("merchCheckoutHeadline")</h1>

    <form class="checkout" name="checkout" data-ng-controller="checkoutController">

        <fieldset>
            <div class="fields" data-ng-class="{ 'open': !visible.results.contactInfo }">
                <h2>@Umbraco.GetDictionaryValue("merchContactInfoHeadline")</h2>
                <label class="half">
                    <span>@Umbraco.GetDictionaryValue("merchFirstNamePH")</span>
                    <input type="text" name="contactFirst" placeholder="@Umbraco.GetDictionaryValue("merchFirstNamePH")" data-ng-model="contactInfo.firstName" required />
                </label>
                <label class="half">
                    <span>@Umbraco.GetDictionaryValue("merchLastNamePH")</span>
                    <input type="text" name="contactLast" placeholder="@Umbraco.GetDictionaryValue("merchLastNamePH")" data-ng-model="contactInfo.lastName" required />
                </label>
                <label>
                    <span>@Umbraco.GetDictionaryValue("merchEmailPH")</span>
                    <input type="text" name="contactEmail" placeholder="@Umbraco.GetDictionaryValue("merchEmailPH")" data-ng-model="contactInfo.email" required />
                </label>
                <input type="submit" value="@Umbraco.GetDictionaryValue("merchNextButton")" data-ng-click="completeContactInfo()" />
                <div class="validation-error" data-ng-class="{ 'open': visible.errors.contactInfo }">
                    <ul>
                        <li data-ng-show="checkout.contactFirst.$invalid" class="error">First Name is a required field.</li>
                        <li data-ng-show="checkout.contactLast.$invalid" class="error">Last Name is a required field.</li>
                        <li data-ng-show="checkout.contactEmail.$invalid" class="error">Email is a required field.</li>
                    </ul>
                </div>
            </div>
            <div class="results" data-ng-class="{ 'open': completed.contactInfo && visible.results.contactInfo }">
                <button type="button" class="edit" data-ng-click="visible.results.contactInfo = false">@Umbraco.GetDictionaryValue("merchEditLink")</button>
                <span class="fn">{{contactInfo.firstName}} {{contactInfo.lastName}}</span>
                <span class="email">{{contactInfo.email}}</span>
            </div>
        </fieldset>

        <fieldset>
            <div class="fields" data-ng-class="{ 'open': completed.contactInfo && !visible.results.shipping }">
                <h2>@Umbraco.GetDictionaryValue("merchShippingHeadline")</h2>
                <label class="half">
                    <span>@Umbraco.GetDictionaryValue("merchFirstNamePH")</span>
                    <input type="text" name="shippingFirst" placeholder="@Umbraco.GetDictionaryValue("merchFirstNamePH")" data-ng-model="shippingAddress.firstName" required />
                </label>
                <label class="half">
                    <span>@Umbraco.GetDictionaryValue("merchLastNamePH")</span>
                    <input type="text" name="shippingLast" placeholder="@Umbraco.GetDictionaryValue("merchLastNamePH")" data-ng-model="shippingAddress.lastName" required />
                </label>
                <label>
                    <span>@Umbraco.GetDictionaryValue("merchAddressPH")</span>
                    <input type="text" name="shippingAddress1" placeholder="@Umbraco.GetDictionaryValue("merchAddressPH")" data-ng-model="shippingAddress.address1" required />
                </label>
                <label>
                    <span>@Umbraco.GetDictionaryValue("merchAddress2PH")</span>
                    <input type="text" name="shippingAddress2" placeholder="@Umbraco.GetDictionaryValue("merchAddress2PH")" data-ng-model="shippingAddress.address2" />
                </label>
                <label class="half">
                    <span>@Umbraco.GetDictionaryValue("merchCityPH")</span>
                    <input type="text" name="shippingCity" placeholder="@Umbraco.GetDictionaryValue("merchCityPH")" data-ng-model="shippingAddress.locality" required />
                </label>
                <label class="dropdown half" for="shippingRegion">
                    <span class="wrapper">
                        <select name="shippingRegion" data-ng-model="filters.shippingRegion" data-ng-change="updateFilterBinding(filters.shippingRegion.id, 'shippingRegion')" data-ng-options="option.name for option in options.shippingRegions">
                        </select>
                        <span class="value" data-ng-class="{ 'selected': filters.shippingRegion.id != -1 }">{{filters.shippingRegion.name}}</span>
                    </span>
                </label>
                <label class="half">
                    <span>@Umbraco.GetDictionaryValue("merchZipPostalCodePH")</span>
                    <input type="text" name="shippingPostalCode" placeholder="@Umbraco.GetDictionaryValue("merchZipPostalCodePH")"  data-ng-model="shippingAddress.postalCode" required />
                </label>
                <label class="dropdown half" for="shippingCountry">
                    <span class="wrapper">
                        <select name="shippingCountry" data-ng-model="filters.shippingCountry" data-ng-change="updateFilterBinding(filters.shippingCountry.id, 'shippingCountry')" data-ng-options="option.name for option in options.shippingCountries">
                        </select>
                        <span class="value" data-ng-class="{ 'selected': filters.shippingCountry.id != -1 }">{{filters.shippingCountry.name}}</span>
                    </span>
                </label>
                <input type="submit" value="@Umbraco.GetDictionaryValue("merchNextButton")" data-ng-click="completeShipping()" />
                <div class="validation-error" data-ng-class="{ 'open': visible.errors.shipping }">
                    <ul>
                        <li data-ng-show="checkout.shippingFirst.$invalid" class="error">First Name is a required field.</li>
                        <li data-ng-show="checkout.shippingLast.$invalid" class="error">Last Name is a required field.</li>
                        <li data-ng-show="checkout.shippingAddress1.$invalid" class="error">Address is a required field.</li>
                        <li data-ng-show="checkout.shippingCity.$invalid" class="error">City is a required field.</li>
                        <li data-ng-show="filters.shippingRegion.id == -1" class="error">State/Province is a required field.</li>
                        <li data-ng-show="checkout.shippingPostalCode.$invalid" class="error">Zip/Postal Code is a required field.</li>
                        <li data-ng-show="filters.shippingCountry.id == -1" class="error">Country is a required field.</li>
                    </ul>
                </div>
            </div>
            <div class="results" data-ng-class="{ 'open': completed.shipping && visible.results.shipping }">
                <button type="button" class="edit" data-ng-click="editShipping()">@Umbraco.GetDictionaryValue("merchEditLink")</button>
                <span class="fn">{{shippingAddress.firstName}} {{shippingAddress.lastName}}</span>
                <span class="adr">
                    <span class="street-address">{{shippingAddress.address1}}</span>
                    <span class="extended-address" data-ng-show="shippingAddress.address2 !=''">{{shippingAddress.address2}}</span>
                    <span class="locality">{{shippingAddress.locality}}</span>, <span class="region">{{shippingAddress.region}}</span> <span class="postal-code">{{shippingAddress.postalCode}}</span>
                    <span class="country-name">{{filters.shippingCountry.name}}</span>
                </span>
            </div>
        </fieldset>

        <fieldset>
            <div class="fields" data-ng-class="{ 'open': completed.shipping && !visible.results.shippingMethod }">
                <h2>Shipping Method</h2>
                <label class="dropdown" for="shippingMethod">
                    <span class="wrapper">
                        <select name="shippingMethod" data-ng-model="filters.shippingMethod" data-ng-change="updateFilterBinding(filters.shippingMethod.id, 'shippingMethod')" data-ng-options="option.name for option in options.shippingMethods">
                        </select>
                        <span class="value" data-ng-class="{ 'selected': filters.shippingMethod.id != -1 }">{{filters.shippingMethod.name}}</span>
                    </span>
                </label>
                <input type="submit" value="@Umbraco.GetDictionaryValue("merchNextButton")" data-ng-click="completeShippingMethod()" />
                <div class="validation-error" data-ng-class="{ 'open': visible.errors.shippingMethod }">
                    <ul>
                        <li data-ng-show="filters.shippingMethod.id == -1" class="error">Shipping Method is a required field.</li>
                    </ul>
                </div>
            </div>
            <div class="results" data-ng-class="{ 'open': completed.shippingMethod && visible.results.shippingMethod }">
                <button type="button" class="edit" data-ng-click="visible.results.shippingMethod = false">@Umbraco.GetDictionaryValue("merchEditLink")</button>
                <span class="shipping-method">{{shippingMethod}} (${{shippingCost}})</span>
            </div>
        </fieldset>

        <fieldset>
            <div class="fields" data-ng-class="{ 'open': completed.shippingMethod && !visible.results.payment }">
                <h2>@Umbraco.GetDictionaryValue("merchPaymentHeadline")</h2>
                <label class="checkbox">
                    <input type="checkbox" checked="checked" data-ng-model="visible.panels.hideBillingAddress" />
                    <span>@Umbraco.GetDictionaryValue("merchUseShippingAddressLabel")</span>
                </label>
                <div class="billingAddress" data-ng-class="{ 'open': !visible.panels.hideBillingAddress }">
                    <label class="half">
                        <span>@Umbraco.GetDictionaryValue("merchFirstNamePH")</span>
                        <input type="text" name="billingFirst" placeholder="@Umbraco.GetDictionaryValue("merchFirstNamePH")" data-ng-model="billingAddress.firstName" data-ng-required="!visible.panels.hideBillingAddress" />
                    </label>
                    <label class="half">
                        <span>@Umbraco.GetDictionaryValue("merchLastNamePH")</span>
                        <input type="text" name="billingLast" placeholder="@Umbraco.GetDictionaryValue("merchLastNamePH")" data-ng-model="billingAddress.lastName" data-ng-required="!visible.panels.hideBillingAddress" />
                    </label>
                    <label>
                        <span>@Umbraco.GetDictionaryValue("merchAddressPH")</span>
                        <input type="text" name="billingAddress1" placeholder="@Umbraco.GetDictionaryValue("merchAddressPH")" data-ng-model="billingAddress.address1" data-ng-required="!visible.panels.hideBillingAddress" />
                    </label>
                    <label>
                        <span>@Umbraco.GetDictionaryValue("merchAddress2PH")</span>
                        <input type="text" name="billingAddress2" placeholder="@Umbraco.GetDictionaryValue("merchAddress2PH")" data-ng-model="billingAddress.address2" />
                    </label>
                    <label class="half">
                        <span>@Umbraco.GetDictionaryValue("merchCityPH")</span>
                        <input type="text" name="billingCity" placeholder="@Umbraco.GetDictionaryValue("merchCityPH")" data-ng-model="billingAddress.locality"  data-ng-required="!visible.panels.hideBillingAddress" />
                    </label>
                    <label class="dropdown half" for="billingRegion">
                        <span class="wrapper">
                            <select name="billingRegion" data-ng-model="filters.billingRegion" data-ng-change="updateFilterBinding(filters.billingRegion.id, 'billingRegion')" data-ng-options="option.name for option in options.billingRegions">
                            </select>
                            <span class="value" data-ng-class="{ 'selected': filters.billingRegion.id != -1 }">{{filters.billingRegion.name}}</span>
                        </span>
                    </label>
                    <label class="half">
                        <span>@Umbraco.GetDictionaryValue("merchZipPostalCodePH")</span>
                        <input type="text" name="billingPostalCode" placeholder="@Umbraco.GetDictionaryValue("merchZipPostalCodePH")"  data-ng-model="billingAddress.postalCode"  data-ng-required="!visible.panels.hideBillingAddress" />
                    </label>
                    <label class="dropdown half" for="billingCountry">
                        <span class="wrapper">
                            <select name="billingCountry" data-ng-model="filters.billingCountry" data-ng-change="updateFilterBinding(filters.billingCountry.id, 'billingCountry')" data-ng-options="option.name for option in options.billingCountries">
                            </select>
                            <span class="value" data-ng-class="{ 'selected': filters.billingCountry.id != -1 }">{{filters.billingCountry.name}}</span>
                        </span>
                    </label>
                </div>
                <label class="dropdown" for="payment">
                    <span class="wrapper">
                        <select name="payment" data-ng-model="filters.paymentMethod" data-ng-change="updateFilterBinding(filters.paymentMethod.id, 'paymentMethod')" data-ng-options="option.name for option in options.paymentMethods">
                        </select>
                        <span class="value" data-ng-class="{ 'selected': filters.paymentMethod.id != -1 }">{{filters.paymentMethod.name}}</span>
                    </span>
                </label>
                <p>Please call us at (555)867-5309 to pay for your order. Your order will be processed once payment is received.</p>
                <input type="submit" value="@Umbraco.GetDictionaryValue("merchNextButton")" data-ng-click="completePayment()" />
                <div class="validation-error" data-ng-class="{ 'open': visible.errors.payment }">
                    <ul>
                        <li data-ng-show="checkout.billingFirst.$invalid" class="error">First Name is a required field.</li>
                        <li data-ng-show="checkout.billingLast.$invalid" class="error">Last Name is a required field.</li>
                        <li data-ng-show="checkout.billingAddress1.$invalid" class="error">Address is a required field.</li>
                        <li data-ng-show="checkout.billingCity.$invalid" class="error">City is a required field.</li>
                        <li data-ng-show="!visible.panels.hideBillingAddress && filters.billingRegion.id == -1" class="error">State/Province is a required field.</li>
                        <li data-ng-show="checkout.billingPostalCode.$invalid" class="error">Zip/Postal Code is a required field.</li>
                        <li data-ng-show="!visible.panels.hideBillingAddress && filters.billingCountry.id == -1" class="error">Country is a required field.</li>
                        <li data-ng-show="filters.paymentMethod.id == -1" class="error">Payment Method is a required field.</li>
                    </ul>
                </div>
            </div>
            <div class="results" data-ng-class="{ 'open': completed.payment && visible.results.payment }">
                <button type="button" class="edit" data-ng-click="visible.results.payment = false">@Umbraco.GetDictionaryValue("merchEditLink")</button>
                <span class="payment">{{paymentMethod}}</span>
                <div data-ng-show="!visible.panels.hideBillingAddress">
                    <span class="fn">{{billingAddress.firstName}} {{billingAddress.lastName}}</span>
                    <span class="adr">
                        <span class="street-address">{{billingAddress.address1}}</span>
                        <span class="extended-address" data-ng-show="billingAddress.address2 !=''">{{billingAddress.address2}}</span>
                        <span class="locality">{{billingAddress.locality}}</span>, <span class="region">{{billingAddress.region}}</span> <span class="postal-code">{{billingAddress.postalCode}}</span>
                        <span class="country-name">{{filters.billingCountry.name}}</span>
                    </span>
                </div>
            </div>
        </fieldset>

        <fieldset class="summary">
            <h2>@Umbraco.GetDictionaryValue("merchSummaryHeadline")</h2>
            <table class="order-summary">
                @{
                    
                    var items = CurrentCustomer.Basket().Items;
                    foreach(var item in items) {
                        <tr class="product">
                            <td>@item.Name<span class="variant"> x @item.Quantity @@ @item.Price.ToString("C")</span></td>
                            <td>@item.TotalPrice.ToString("C")</td>
                        </tr>
                    }   
                }
                    
                <tr class="subtotal">
                    <td>@Umbraco.GetDictionaryValue("merchSubtotalLabel")</td>
                    <td>@CurrentCustomer.Basket().TotalBasketPrice.ToString("C")</td>
                </tr>
                <tr class="taxes">
                    <td>@Umbraco.GetDictionaryValue("merchTaxesLabel")</td>
                    <td>
                        <span data-ng-show="!summary">@Umbraco.GetDictionaryValue("merchPendingLabel")</span>
                        <span data-ng-show="summary">${{taxes()}}</span>
                    </td>
                </tr>
                <tr class="shipping">
                    <td>@Umbraco.GetDictionaryValue("merchShippingLabel")</td>
                    <td>
                        <span data-ng-show="shippingCost == 0">@Umbraco.GetDictionaryValue("merchPendingLabel")</span>
                        <span data-ng-show="shippingCost != 0">${{shippingCost}}</span>
                    </td>
                </tr>
                <tr class="total">
                    <td>@Umbraco.GetDictionaryValue("merchTotalLabel")</td>
                    <td>${{totalPrice()}}</td>
                </tr>
            </table>

            <!-- Button does not display until Contact Info, Shipping, and Payment have been filled out -->
            <input type="submit" value="@Umbraco.GetDictionaryValue("merchFinishButton")" data-ng-show="readyToComplete()" data-ng-click="completeOrder()" />
        </fieldset>
        <input type="hidden" data-ng-model="subtotal" data-ng-init="subtotal=@CurrentCustomer.Basket().TotalBasketPrice" />
        <input type="hidden" data-ng-model="customerGuid" data-ng-init="customerGuid='@CurrentCustomer.Key'" />

    </form>

</section>