@inherits UmbracoViewPage<ILinkTier>
@using MerchKit.Models
@{    
    @RenderTier(Model)
}

@helper RenderTier(ILinkTier tier)
{
    <ul>
        @if(tier.Children.Any())
        {
            foreach(var item in tier.Children)
            {
                <li class="@item.CssClass"><a href="@item.Url">@item.Title</a>@RenderTier(item)</li>
            }
        }
    </ul>
}