@inherits UmbracoViewPage<MerchKit.Models.AddressModel>
@{
    
    var regions = Model.Provinces.Select(province => new SelectListItem()
        {
            Value = province.Code, Text = province.Name
        }).ToList();

    var countries = Model.Countries.Select(country => new SelectListItem()
        {
            Value = country.CountryCode,
            Text = country.Name,
            Selected = country.CountryCode == "US"
        }).ToList();
}

<div class="control-group">
    @Html.LabelFor(x => x.Name, new{ @class="control-label"}) @Html.ValidationMessageFor(x => x.Name)
    <div class="controls">
        @Html.TextBoxFor(x => x.Name, new { placeholder = "Name"})
    </div>
</div>
<div class="control-group">
   @Html.LabelFor(x => x.Email, new{ @class="control-label"})
    <div class="controls">
        @Html.TextBoxFor(x => x.Email, new { placeholder = "Email address"})
    </div>
</div>

<div class="control-group">
    @Html.LabelFor(x => x.Organization, new{ @class="control-label"})
    <div class="controls">
        @Html.TextBoxFor(x => x.Organization, new { placeholder = "Company"})
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(x => x.Address1, new{ @class="control-label"}) @Html.ValidationMessageFor(x => x.Address1)
<div class="controls">
    @Html.TextBoxFor(x => x.Address1, new { placeholder = "Address line 1"})
</div>
</div>
<div class="control-group">
    @Html.LabelFor(x => x.Address2, new{ @class="control-label"})
    <div class="controls">
        @Html.TextBoxFor(x => x.Address2, new { placeholder = "Address line 2"})
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(x => x.Locality,"City", new{ @class="control-label"}) @Html.ValidationMessageFor(x => x.Locality)
<div class="controls">
    @Html.TextBoxFor(x => x.Locality, new { placeholder = "City"})
</div>
    </div>
<div class="control-group">
    @Html.LabelFor(x => x.Region, "State or Province", new{ @class="control-label"})
    <div class="controls">
        @Html.DropDownListFor(x => x.Region, regions, "Select")
    </div>
</div>
<div class="control-group">
   @Html.LabelFor(x => x.PostalCode, new{ @class="control-label"}) @Html.ValidationMessageFor(x => x.PostalCode)
    <div class="controls">
        @Html.TextBoxFor(x => x.PostalCode, new { placeholder = "Postal code"})
    </div>
</div>

<div class="control-group">
    @Html.LabelFor(x => x.CountryCode, "Country", new{ @class="control-label"}) @Html.ValidationMessageFor(x => x.CountryCode)
    <div class="controls">
        @Html.DropDownListFor(x => x.CountryCode, countries)
    </div>
</div>

<div class="control-group">
   @Html.LabelFor(x => x.Phone, new{ @class="control-label"})
    <div class="controls">
        @Html.TextBoxFor(x => x.Phone, new { placeholder = "Phone"})
    </div>
</div>
