@inherits Merchello.Web.Mvc.MerchelloViewPage<MerchKit.Models.AddItemModel>
@using MerchKit.Controllers
@{

    var product = Merchello.Product(Model.ProductKey);

    
    using(Html.BeginUmbracoForm<BasketController>("AddToBasket", Model))
    {
        if (product.ProductOptions.Any())
        {
            var index = 0;
            foreach (var option in product.ProductOptions)
            {
                var choices = option.Choices.OrderBy(x => x.SortOrder).Select(choice => new SelectListItem()
                    {
                        Value = choice.Key.ToString(), Text = choice.Name
                    }).ToList();
                choices.First().Selected = true;
                <label class="pseudo dropdown" for="@option.Name.ToLower().Replace(" ", "-")">
                    <span class="wrapper">
                        @Html.ValidationMessageFor(x => x.OptionChoices, "Please select one")
                        @Html.DropDownListFor(x => x.OptionChoices[index], choices, new { name = option.Name.ToLower().Replace(" ", "-"), id = option.Key, @class="ProductVariants", OnChange = "merch.merchProducts.getUpdatedVariants(this)" })
                        @*Needs to switch out when an option in the dropdown list is selected*@
                        <span class="value" id="@option.Key-value">@choices.First().Text</span>
                    </span>
                </label>

                index = index + 1;
            }
        }
       
        @Html.HiddenFor(x => x.ContentId)
        @Html.HiddenFor(x => x.ProductKey)        
        <input type="submit" value="@Umbraco.GetDictionaryValue("merchAddToCartButton")"/>
    }
}