@inherits UmbracoViewPage<ContactEmailMessage>
@using MerchKit.Controllers
@using MerchKit.Models
@{
    var msgs = (ValidationMessages)ViewBag.ValidationMessages;

    if (msgs != null)
    {
        @RenderValidationMessages(msgs)    
    }
    else
    {
        @RenderContactForm()
    }
}


@helper RenderValidationMessages(ValidationMessages msgs)
{
    if(!msgs.IsSuccessConfirmation)
    {
        
        // these should be error messages
        if(msgs.Messages.Count > 0)
        {
            // Render the error summary
            <ul class="errors">
            @foreach(var m in msgs.Messages)
            {
                <li>@m</li>
            }
            </ul>                        
        }
        
        // Render the contact form again
        @RenderContactForm()
    }
    else
    {
        // display the confirmation
        @Html.Raw(msgs.Messages.FirstOrDefault())
    }
}

@helper RenderContactForm()
    {

    // get the language home page (/en/, /fr/ ..) to find the associate contact form
    Umbraco.Web.Models.DynamicPublishedContent home = Umbraco.Content(UmbracoContext.Current.PageId).AncestorOrSelf("merchHomePage");

    <h2>@Umbraco.GetDictionaryValue("ContactHeadline")</h2>
    
    using (Html.BeginUmbracoForm<ContactFormSurfaceController>("SendEmail"))
    {
    
        <label><span>@Umbraco.GetDictionaryValue("merchContactNameLabel")</span>@Html.TextBoxFor(m => m.Name, new { placeholder = Umbraco.GetDictionaryValue("merchContactNameLabel") })</label>
    
        <label><span>@Umbraco.GetDictionaryValue("merchContactEmailLabel")</span>@Html.TextBoxFor(m => m.Email, new { placeholder = Umbraco.GetDictionaryValue("merchContactEmailLabel") })</label>
    
        <label><span>@Umbraco.GetDictionaryValue("merchContactPhoneLabel")</span>@Html.TextBoxFor(m => m.Phone, new { placeholder = Umbraco.GetDictionaryValue("merchContactPhoneLabel") })</label>
    
        <label><span>@Umbraco.GetDictionaryValue("merchContactMessageLabel")</span> @Html.TextAreaFor(m => m.Message, new { placeholder = Umbraco.GetDictionaryValue("merchContactMessageLabel") })</label>
    
       @Html.Hidden("EmailMessageId", home.GetPropertyValue("contactFormEmailTemplate"))

        <input type="submit" value="@Umbraco.GetDictionaryValue("merchContactSubmitButton")" />                                       
    }
}

