@inherits Merchello.Web.Mvc.MerchelloTemplatePage
@{
    @*If any of the quick links have content, display the list*@
    if((CurrentPage.HasProperty("link1") && CurrentPage.HasValue("link1")) || (CurrentPage.HasProperty("link2") && CurrentPage.HasValue("link2")) || (CurrentPage.HasProperty("link3") && CurrentPage.HasValue("link3")))
    {
    <ul id="quick-links">
        
        @*If the first quick link has content, display it*@
        @if(CurrentPage.HasProperty("link1") && CurrentPage.HasValue("link1"))
        {
        <li>
            @{ var link = Umbraco.Content(CurrentPage.GetPropertyValue("link1")); }
            <a href="@link.Url" title="@link.Name">
                @if (CurrentPage.HasProperty("link1Thumbnail") && CurrentPage.HasValue("link1Thumbnail"))
                {
                    var img = Umbraco.Media(CurrentPage.GetPropertyValue("link1Thumbnail"));
                    <img src="@img.Url" alt="@img.Name" />
                } else { 
                    <img src="http://placekitten.com/428/355" alt="Kitten!" />
                }
                @if (CurrentPage.HasProperty("link1Text") && CurrentPage.HasValue("link1Text"))
                {
                    <span>@CurrentPage.GetPropertyValue("link1Text")</span>
                }
            </a>
        </li>
        }

        @*If the second quick link has content, display it*@
        @if(CurrentPage.HasProperty("link2") && CurrentPage.HasValue("link2"))
        {
        <li>
            @{ var link = Umbraco.Content(CurrentPage.GetPropertyValue("link2")); }
            <a href="@link.Url" title="@link.Name">
                @if (CurrentPage.HasProperty("link2Thumbnail") && CurrentPage.HasValue("link2Thumbnail"))
                {
                    var img = Umbraco.Media(CurrentPage.GetPropertyValue("link2Thumbnail"));
                    <img src="@img.Url" alt="@img.Name" />
                } else { 
                    <img src="http://placekitten.com/431/355" alt="Kitten!" />
                }
                @if (CurrentPage.HasProperty("link2Text") && CurrentPage.HasValue("link2Text"))
                {
                    <span>@CurrentPage.GetPropertyValue("link2Text")</span>
                }
            </a>
        </li>
        }

        @*If the third quick link has content, display it*@
        @if(CurrentPage.HasProperty("link3") && CurrentPage.HasValue("link3"))
        {
        <li>
            @{ var link = Umbraco.Content(CurrentPage.GetPropertyValue("link3")); }
            <a href="@link.Url" title="@link.Name">
                @if (CurrentPage.HasProperty("link3Thumbnail") && CurrentPage.HasValue("link3Thumbnail"))
                {
                    var img = Umbraco.Media(CurrentPage.GetPropertyValue("link3Thumbnail"));
                    <img src="@img.Url" alt="@img.Name" />
                } else { 
                    <img src="http://placekitten.com/433/355" alt="Kitten!" />
                }
                @if (CurrentPage.HasProperty("link3Text") && CurrentPage.HasValue("link3Text"))
                {
                    <span>@CurrentPage.GetPropertyValue("link3Text")</span>
                }
            </a>
        </li>
        }
    </ul>
    }
    
}